<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo da Blue - HTML, CSS, JS, Python e SQL</title>
    <link rel="stylesheet" href="/static/estilo.css" />
</head>
<body>
    {% include 'header.html' %}
    <div>
        <h1>Curiosidades sobre a Raça</h1>
    </div>
    <div>
        <p> LABRADOR RETRIEVER
            BREVE RESUMO HISTÓRICO: Popularmente considera-se que o Labrador
            Retriever teve origem na costa de Terra Nova, onde os pescadores foram vistos
            usando um cão de aparência semelhante para recuperar peixes. Um excelente cão de
            água; pelo resistente às intempéries e cauda singular, comparada à de uma lontra
            devido à sua forma, enfatizam essa característica. Comparativamente falando, o
            Labrador não é uma raça muito antiga, tendo sido formado o clube da raça em 1916
            e o Clube do Labrador Amarelo foi fundado em 1925. Foi nas provas de campo que
            o Labrador encontrou a fama cedo, tendo sido originalmente introduzido nesta atividade
            no final de 1800 pelo Coronel Peter Hawker e pelo Conde de Malmesbury. Foi um
            cão chamado de Malmesbury Tramp, descrito por Lorna, Condessa de Howe, uma
            das raízes do atual Labrador.
            APARÊNCIA GERAL: Fortemente constituído, curto, muito ativo; (o que se opõe
            a excesso de peso ou substância) crânio largo; peito e costelas largos e profundos;
            lombo e posteriores largos e fortes.
            COMPORTAMENTO / TEMPERAMENTO: Bom temperamento; muito ágil;
            excelente faro; cuidadoso ao recolher a caça (boca macia); apaixonado por água.
            Capaz de se adaptar em qualquer lugar; companheiro fiel. Inteligente, vivo e obediente,
            com muita vontade de agradar. De natureza amigável, sem nenhum traço de
            agressividade ou de timidez.
            CABEÇA
            REGIÃO CRANIANA
            Crânio: Largo. Bem definido, sem bochechas carnudas.
            Stop: Definido.
            REGIÃO FACIAL
            Trufa: Larga, narinas bem desenvolvidas.
            Focinho: Poderoso, não pontudo.
            4
            St. FCI No
             122 / 12.11.2011
            Maxilares / Dentes: Maxilares de tamanho médio; maxilares e dentes fortes, com uma
            perfeita, regular e completa mordedura em tesoura, isto é, os dentes superiores
            recobrem os dentes inferiores e são inseridos ortogonalmente aos maxilares.
            Olhos: De tamanho médio, expressando inteligência e bom temperamento; de cor
            marrom ou avelã.
            Orelhas: Nem grandes, nem pesadas, pendentes rente à cabeça e inseridas bem para
            trás.
            PESCOÇO: Seco, forte, poderoso, inserido em ombros bem colocados.
            TRONCO
            Dorso: Linha superior nivelada.
            Lombo: Largo, curto e forte.
            Peito: De boa largura e profundidade, com costelas bem arqueadas em barril - esse
            efeito não deve ser produzido por peso excessivo.
            CAUDA: Característica da raça. Muito grossa na base, afinando gradualmente até a
            ponta; de tamanho médio, sem franjas, mas coberta completamente por pelos curtos,
            espessos e densos, dando uma aparência “arredondada”, descrita como “cauda de
            lontra”. Pode ser portada alegremente, mas sem curvar sobre o dorso.
            MEMBROS
            ANTERIORES
            Aparência geral: Retos do cotovelo ao solo, quando vistos de frente ou de perfil.
            Ombros: Longos e oblíquos.
            Antebraços: De boa ossatura e retos.
            Patas: Redondas, compactas; dedos bem curvados e almofadas bem desenvolvidas.
            POSTERIORES
            Aparência geral: Bem desenvolvidos; sem inclinação para a cauda.
            5
            St. FCI No
             122 / 12.11.2011
            Joelhos: Bem angulados.
            Jarretes: Bem descidos. Jarretes de vaca são altamente indesejáveis.
            Patas: Redondas, compactas; dedos bem curvados e almofadas bem desenvolvidas.
            MOVIMENTAÇÃO: Livre, cobrindo adequadamente o terreno. Os membros
            anteriores e posteriores se movimentam planos e retos.
            PELAGEM
            Pelo: Característico; curto, denso, sem ser ondulado e sem franjas, dando a impressão
            de ser bastante duro ao toque; o subpelo é resistente às intempéries.
            COR: Inteiramente preto, amarelo ou fígado/chocolate. O amarelo vai do creme
            claro ao vermelho da raposa. Pequena mancha branca no peito é permitida.
            TAMANHO
            Altura ideal na cernelha: Machos: 56 a 57 cm.
            Fêmeas: 54 a 56 cm.</p>
    </div>
</body>
</html>