<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Raças | Curiosidades | Blue</title>
    <link rel="stylesheet" href="/static/estilo.css" />
</head>
<body>
    {% include 'header.html' %}
    <div class="bloco">
        <!-- nome da raça que estou passando -->
        <h1>{{registro.nome}}</h1> 
    </div>
    <div class="bloco">
        <img src= "{{registro.imagem}}" alt="{{registro.nome}}" id="imagemEstilo">
        
    </div>
    <div>
        <h3>{{registro.curiosidade}}</h3>
    </div>
    
    
    <div class="bloco">
        <a href="/read" class="botao">Voltar</a>
    </div>
</body>
</html>